@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Poppins&family=Roboto:ital,wght@0,300;0,500;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(241, 124, 28, 0.4705882353);
}
body h2 {
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
}

header {
  grid-area: header;
  background-color: #7f6653;
  width: 100%;
  height: 100px;
}
header h1 {
  font-family: "Lato", sans-serif;
  font-size: xx-large;
  font-weight: 800;
  padding-top: 15px;
  padding-left: 15px;
}
header .menu {
  background-color: #b98864;
  margin-top: 12px;
  width: 100%;
  height: 40px;
}
header .menu nav ul {
  height: 30px;
  text-align: center;
}
header .menu nav ul .botones {
  padding-left: 0;
}
header .menu nav ul li {
  display: inline-block;
  font-family: "Roboto";
  padding: 10px 5px 0px 5px;
}
header .menu nav ul li a {
  text-decoration: none;
  color: black;
}

footer {
  display: flex;
  grid-area: footer;
  background-color: #7e6552;
  width: 100%;
  height: 100px;
}
footer div h2 {
  margin-top: 30px;
  margin-left: 30px;
  color: black;
  font-weight: 400;
}
footer .logos {
  margin-top: 30px;
}

.home {
  display: grid;
  grid-template-areas: "header" "carrousel" "shopind" "shopind" "footer";
}
.home header h1 {
  color: black;
}
.home header .menu .botones {
  padding-left: 0;
}
.home main {
  margin-bottom: 20px;
  /* Carrousel Home */
  /* Shop Index */
}
.home main #carouselExampleIndicators {
  grid-area: carrousel;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.home main #carouselExampleIndicators .carousel-inner {
  margin-top: 5px;
}
.home main #carouselExampleIndicators .carousel-inner .carousel-item img {
  height: 650px;
  width: 80%;
}
.home main .shopind h2 {
  text-align: center;
}
.home main .shopind .caja-contenedor {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: repeat(1, 350px);
  column-gap: 25px;
  justify-content: center;
  margin-top: 10px;
}
.home main .shopind .caja-contenedor .caja-producto {
  width: 200px;
  height: 350px;
  margin-bottom: 0px;
  background-color: white;
  box-shadow: 5px 5px 8px rgba(88, 88, 88, 0.3);
}
.home main .shopind .caja-contenedor .caja-producto img {
  width: 200px;
  height: unset;
}
.home main .shopind .caja-contenedor .caja-producto p {
  margin: 10px 20px 10px 20px;
  font-family: "Roboto";
  font-weight: 300;
}
.home main .shopind .caja-contenedor .caja-producto .redireccion {
  margin-left: 10%;
  font-family: "Roboto";
  text-decoration: none;
  color: rgb(27, 106, 255);
}

.main_shop {
  margin-bottom: 20px;
}
.main_shop .caja-contenedor {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: repeat(1, 350px);
  column-gap: 25px;
  justify-content: center;
  margin-top: 10px;
}
.main_shop .caja-producto {
  width: 200px;
  height: 350px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 5px 5px 8px rgba(88, 88, 88, 0.3);
}
.main_shop .caja-producto img {
  width: 200px;
  height: unset;
}
.main_shop .caja-producto p {
  margin: 10px 20px 10px 20px;
  font-family: "Roboto";
  font-weight: 300;
}
.main_shop .caja-producto .redireccion {
  margin-left: 10%;
  font-family: "Roboto";
  text-decoration: none;
  color: rgb(27, 106, 255);
}
.main_shop .shop {
  margin-top: 20px;
}
.main_shop .shop-fila {
  margin-top: 20px;
}

main .imagenesDestacadas {
  margin-bottom: 20px;
}
main .imagenesDestacadas h2 {
  padding: 20px 0;
}
main .imagenesDestacadas .contenedor_img {
  display: grid;
  grid-template-columns: repeat(4, 290px);
  grid-template-rows: repeat(6, 290px);
  grid-template-areas: "img1 img1 img3 img3" "img9 img7 img3 img3" "img13 img2 img2 img12" "img4 img2 img2 img12" "img11 img6 img6 img10" "img8 img8 img5 img5";
  column-gap: 5px;
  row-gap: 5px;
  justify-content: center;
  margin: 0% 10%;
}
main .imagenesDestacadas .contenedor_img .img1 {
  grid-area: img1;
}
main .imagenesDestacadas .contenedor_img .img1 img {
  width: 585px;
  height: 290px;
}
main .imagenesDestacadas .contenedor_img .img2 {
  grid-area: img2;
}
main .imagenesDestacadas .contenedor_img .img2 img {
  width: 585px;
  height: 585px;
}
main .imagenesDestacadas .contenedor_img .img3 {
  grid-area: img3;
}
main .imagenesDestacadas .contenedor_img .img3 img {
  width: 585px;
  height: 585px;
}
main .imagenesDestacadas .contenedor_img .img4 {
  grid-area: img4;
}
main .imagenesDestacadas .contenedor_img .img4 img {
  width: 290px;
  height: 290px;
}
main .imagenesDestacadas .contenedor_img .img5 {
  grid-area: img5;
}
main .imagenesDestacadas .contenedor_img .img5 img {
  width: 585px;
  height: 290px;
}
main .imagenesDestacadas .contenedor_img .img6 {
  grid-area: img6;
}
main .imagenesDestacadas .contenedor_img .img6 img {
  width: 585px;
  height: 290px;
}
main .imagenesDestacadas .contenedor_img .img7 {
  grid-area: img7;
}
main .imagenesDestacadas .contenedor_img .img7 img {
  width: 290px;
  height: 290px;
}
main .imagenesDestacadas .contenedor_img .img8 {
  grid-area: img8;
}
main .imagenesDestacadas .contenedor_img .img8 img {
  width: 585px;
  height: 290px;
}
main .imagenesDestacadas .contenedor_img .img9 {
  grid-area: img9;
}
main .imagenesDestacadas .contenedor_img .img9 img {
  width: 290px;
  height: 290px;
}
main .imagenesDestacadas .contenedor_img .img10 {
  grid-area: img10;
}
main .imagenesDestacadas .contenedor_img .img10 img {
  width: 290px;
  height: 290px;
}
main .imagenesDestacadas .contenedor_img .img11 {
  grid-area: img11;
}
main .imagenesDestacadas .contenedor_img .img11 img {
  width: 290px;
  height: 290px;
}
main .imagenesDestacadas .contenedor_img .img12 {
  grid-area: img12;
}
main .imagenesDestacadas .contenedor_img .img12 img {
  width: 290px;
  height: 585px;
}
main .imagenesDestacadas .contenedor_img .img13 {
  grid-area: img13;
}
main .imagenesDestacadas .contenedor_img .img13 img {
  width: 290px;
  height: 290px;
}

.blog {
  display: flex;
  flex-direction: column;
  margin: 40px 0px;
  height: unset;
  align-items: center;
}
.blog .caja-informacion {
  background-color: beige;
  width: 1000px;
  height: 350px;
  margin: 30px 0px 0px 0px;
}
.blog .caja-informacion h3 {
  font-size: 3.5ch;
  font-family: "Roboto";
  padding: 10px 10px 0px 10px;
}
.blog .caja-informacion p {
  font-size: x-large;
  font-family: "Poppins";
  padding: 10px 10px 0px 10px;
}

.fotografos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 70px;
  height: auto;
}
.fotografos .caja_fotografos .tarjeta {
  display: flex;
  flex-direction: column;
  background-color: rgb(124, 95, 72);
  width: 750px;
  height: 300px;
  margin: 15px 0px 5px 0px;
  padding: 10px 10px 0px 10px;
}
.fotografos .caja_fotografos .tarjeta h3 {
  font-family: "Roboto";
  font-size: large;
}
.fotografos .caja_fotografos .tarjeta div {
  display: flex;
}
.fotografos .caja_fotografos .tarjeta div img {
  width: 180px;
  height: 180px;
  padding: 5px;
}
.fotografos .caja_fotografos .tarjeta div p {
  font-size: medium;
  font-family: "Roboto";
}
.fotografos .caja_fotografos .tarjeta .botones {
  justify-content: center;
  align-content: center;
  margin-top: 10px;
}
.fotografos .caja_fotografos .tarjeta .botones a {
  background-color: #945610;
  width: 200px;
  margin: 5px 0px 0px 5px;
  padding: 5px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;
  font-family: "Lato";
  font-size: large;
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 480px) {
  .home {
    width: auto;
    display: grid;
    grid-template-areas: "header" "carrousel" "shopind" "shopind" "footer";
  }
  .home header {
    grid-area: header;
    width: 100%;
  }
  .home main {
    width: 100%;
  }
  .home main #carouselExampleIndicators {
    grid-area: carrousel;
    width: 100%;
    height: unset;
    margin: 0 0 10px 0;
  }
  .home main .shopind {
    grid-area: shopind;
    height: auto;
  }
  .home main .shopind .caja-contenedor {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(6, 450px);
    justify-content: center;
    margin-top: 10px;
    row-gap: 15px;
  }
  .home main .shopind .caja-contenedor .caja-producto {
    width: 350px;
    height: 420px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 5px 5px 8px rgba(88, 88, 88, 0.3);
    text-align: center;
  }
  .home main .shopind .caja-contenedor .caja-producto img {
    width: 100%;
  }
  .home main .shopind .caja-contenedor .caja-producto p {
    font-size: large;
    font-family: "Roboto", sans-serif;
  }
  .home main .shopind .caja-contenedor .caja-producto .redireccion_ind {
    margin: 0 10px 0 0;
  }
  body header {
    grid-area: header;
  }
  body main {
    width: 100%;
  }
  body main .fotografos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 70px;
    height: auto;
  }
  body main .fotografos .caja_fotografos .tarjeta {
    display: flex;
    flex-direction: column;
    background-color: rgb(124, 95, 72);
    width: 310px;
    height: 500px;
    margin: 15px 0px 5px 0px;
    padding: 10px 10px 0px 10px;
  }
  body main .fotografos .caja_fotografos .tarjeta h3 {
    font-family: "Roboto";
    font-size: large;
    text-align: center;
  }
  body main .fotografos .caja_fotografos .tarjeta div {
    flex-direction: column;
    align-items: center;
  }
  body main .fotografos .caja_fotografos .tarjeta div img {
    width: 200px;
    height: 180px;
    padding: 5px;
  }
  body main .fotografos .caja_fotografos .tarjeta div p {
    font-size: small;
    font-family: "Roboto";
    padding: 5px 10px 0px 10px;
  }
  body main .fotografos .caja_fotografos .tarjeta .botones {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 0px;
  }
  body main .fotografos .caja_fotografos .tarjeta .botones a {
    background-color: #945610;
    width: 280px;
    margin: 5px 0px 0px 5px;
    padding: 2px 10px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    font-family: "Lato";
    font-size: large;
    font-weight: bold;
  }
  body main .imagenesDestacadas .contenedor_img {
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(13, 350px);
    grid-template-areas: "img3" "img2" "img9" "img4" "img5" "img6" "img7" "img8" "img1" "img10" "img11" "img12" "img13";
    justify-content: center;
    margin-bottom: 10px;
  }
  body main .imagenesDestacadas .contenedor_img .img1 {
    grid-area: img1;
  }
  body main .imagenesDestacadas .contenedor_img .img1 img {
    width: 100%;
    height: 350px;
  }
  body main .imagenesDestacadas .contenedor_img .img2 {
    grid-area: img2;
  }
  body main .imagenesDestacadas .contenedor_img .img2 img {
    width: 100%;
    height: 350px;
  }
  body main .imagenesDestacadas .contenedor_img .img3 {
    grid-area: img3;
  }
  body main .imagenesDestacadas .contenedor_img .img3 img {
    width: 100%;
    height: 350px;
  }
  body main .imagenesDestacadas .contenedor_img .img4 {
    grid-area: img4;
  }
  body main .imagenesDestacadas .contenedor_img .img4 img {
    width: 100%;
    height: 350px;
  }
  body main .imagenesDestacadas .contenedor_img .img5 {
    grid-area: img5;
  }
  body main .imagenesDestacadas .contenedor_img .img5 img {
    width: 100%;
    height: 350px;
  }
  body main .imagenesDestacadas .contenedor_img .img6 {
    grid-area: img6;
  }
  body main .imagenesDestacadas .contenedor_img .img6 img {
    width: 100%;
    height: 350px;
  }
  body main .imagenesDestacadas .contenedor_img .img7 {
    grid-area: img7;
  }
  body main .imagenesDestacadas .contenedor_img .img7 img {
    width: 100%;
    height: 350px;
  }
  body main .imagenesDestacadas .contenedor_img .img8 {
    grid-area: img8;
  }
  body main .imagenesDestacadas .contenedor_img .img8 img {
    width: 100%;
    height: 350px;
  }
  body main .imagenesDestacadas .contenedor_img .img9 {
    grid-area: img9;
  }
  body main .imagenesDestacadas .contenedor_img .img9 img {
    width: 100%;
    height: 350px;
  }
  body main .imagenesDestacadas .contenedor_img .img10 {
    grid-area: img10;
  }
  body main .imagenesDestacadas .contenedor_img .img10 img {
    width: 100%;
    height: 350px;
  }
  body main .imagenesDestacadas .contenedor_img .img11 {
    grid-area: img11;
  }
  body main .imagenesDestacadas .contenedor_img .img11 img {
    width: 100%;
    height: 350px;
  }
  body main .imagenesDestacadas .contenedor_img .img12 {
    grid-area: img12;
  }
  body main .imagenesDestacadas .contenedor_img .img12 img {
    width: 100%;
    height: 350px;
  }
  body main .imagenesDestacadas .contenedor_img .img13 {
    grid-area: img13;
  }
  body main .imagenesDestacadas .contenedor_img .img13 img {
    width: 100%;
    height: 350px;
  }
  body .main_shop {
    height: auto;
    margin-bottom: 40px;
  }
  body .main_shop .shop {
    grid-area: shop-fila;
  }
  body .main_shop .shop .caja-contenedor {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 270px);
    justify-content: center;
    row-gap: 50px;
    height: auto;
    margin-top: 20px;
    column-gap: 10px;
  }
  body .main_shop .shop .caja-contenedor .caja-producto {
    width: 170px;
    height: 280px;
  }
  body .main_shop .shop .caja-contenedor .caja-producto img {
    width: 100%;
  }
  body .main_shop .shop .caja-contenedor .caja-producto p {
    font-size: large;
    font-family: "Roboto", sans-serif;
  }
  body .main_shop .shop .caja-contenedor .caja-producto .redireccion_ind {
    margin: 0 10px 0 0;
  }
  body .main_shop .shop-fila {
    grid-area: shop-fila;
  }
  body .main_shop .shop-fila .caja-contenedor {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 270px);
    justify-content: center;
    row-gap: 50px;
    height: auto;
    margin-top: 20px;
    column-gap: 10px;
  }
  body .main_shop .shop-fila .caja-contenedor .caja-producto {
    width: 170px;
    height: 280px;
  }
  body .main_shop .shop-fila .caja-contenedor .caja-producto img {
    width: 100%;
  }
  body .main_shop .shop-fila .caja-contenedor .caja-producto p {
    font-size: large;
    font-family: "Roboto", sans-serif;
  }
  body .main_shop .shop-fila .caja-contenedor .caja-producto .redireccion_ind {
    margin: 0 10px 0 0;
  }
  footer {
    grid-area: footer;
    width: 100%;
  }
}

/*# sourceMappingURL=estilos.css.map */
