@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Poppins&family=Roboto:ital,wght@0,300;0,500;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ee9551;
}
body h2 {
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
}

header {
  grid-area: header;
  background-color: #7e6552;
  width: 100%;
  height: 100px;
}
header h1 {
  font-family: "Lato", sans-serif;
  font-size: xx-large;
  font-weight: 800;
  padding-top: 15px;
  padding-left: 15px;
}
header .menu {
  background-color: #b97947;
  margin-top: 12px;
  width: 100%;
  height: 40px;
}
header .menu nav ul {
  height: 30px;
  text-align: center;
}
header .menu nav ul .botones {
  padding-left: 0;
}
header .menu nav ul li {
  display: inline-block;
  font-family: "Roboto";
  padding: 10px 5px 0px 5px;
}
header .menu nav ul li a {
  text-decoration: none;
  color: black;
}

footer {
  display: flex;
  grid-area: footer;
  background-color: #b97947;
  width: 100%;
  height: 100px;
}
footer div h2 {
  margin-top: 30px;
  margin-left: 30px;
  color: black;
  font-weight: 400;
}
footer .logos {
  margin-top: 30px;
}

.home {
  display: grid;
  grid-template-areas: "header" "carrousel" "shopind" "shopind" "footer";
}
.home header h1 {
  color: black;
}
.home main {
  /* Carrousel Home */
  /* Shop Index */
}
.home main .carouselExampleIndicators {
  width: 80%;
  height: 400px;
  margin: 5px 10% 20px 0;
}
.home main .carousel-item img {
  height: 650px;
  width: 80%;
}
.home main #carouselExampleIndicators {
  grid-area: carrousel;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 20px;
}
.home main .carousel-inner {
  margin-top: 5px;
}
.home main .shopind {
  margin-bottom: 20px;
}
.home main .shopind h2 {
  text-align: center;
}
.home main .shopind .caja-contenedor {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: repeat(1, 350px);
  column-gap: 25px;
  justify-content: center;
  margin-top: 10px;
}
.home main .shopind .caja-producto {
  width: 200px;
  height: 350px;
  margin-bottom: 0px;
  background-color: white;
  box-shadow: 5px 5px 8px rgba(88, 88, 88, 0.3);
}
.home main .shopind .caja-producto img {
  width: 200px;
  height: unset;
}
.home main .shopind .caja-producto p {
  margin: 10px 20px 10px 20px;
  font-family: "Roboto";
  font-weight: 300;
}
.home main .shopind .caja-producto .redireccion {
  margin-left: 10%;
  font-family: "Roboto";
  text-decoration: none;
  color: rgb(27, 106, 255);
}

.main_shop .caja-contenedor {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: repeat(1, 350px);
  column-gap: 25px;
  justify-content: center;
  margin-top: 10px;
}
.main_shop .caja-producto {
  width: 200px;
  height: 350px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 5px 5px 8px rgba(88, 88, 88, 0.3);
}
.main_shop .caja-producto img {
  width: 200px;
  height: unset;
}
.main_shop .caja-producto p {
  margin: 10px 20px 10px 20px;
  font-family: "Roboto";
  font-weight: 300;
}
.main_shop .caja-producto .redireccion {
  margin-left: 10%;
  font-family: "Roboto";
  text-decoration: none;
  color: rgb(27, 106, 255);
}
.main_shop .shop {
  margin: 40px 70px 0px 70px;
  height: 450px;
}
.main_shop .shop-fila {
  margin: 0px 70px 20px 70px;
}

main .imagenesDestacadas {
  margin-left: 70px;
  margin-right: 70px;
  height: 1000px;
  margin-top: 40px;
}
main .imagenesDestacadas div {
  display: inline-block;
}
main .imagenesDestacadas .cuadradoimagen {
  width: 270px;
  height: 190px;
  background-color: rgb(197, 197, 197);
  margin-top: 10px;
}
main .imagenesDestacadas .cuadradoimagen1 {
  width: 390px;
  height: 220px;
  background-color: rgb(197, 197, 197);
}
main .imagenesDestacadas .cuadradoimagen2 {
  width: 400px;
  height: 299px;
  background-color: rgb(197, 197, 197);
}
main .imagenesDestacadas .cuadradoimagen3 {
  width: 350px;
  height: 300px;
  background-color: rgb(197, 197, 197);
}

.blog {
  margin: 40px 70px 0px 70px;
  height: 1200px;
}
.blog .cajainformacion {
  width: 800px;
  height: 200px;
  margin: 30px 0px 0px 190px;
}
.blog .cajainformacion p {
  font-size: larger;
  font-family: "Roboto", sans-serif;
}
.blog .cajainformacion h3 {
  font-size: 3ch;
}

.fotografos {
  margin-left: 70px;
  margin-right: 70px;
  height: 850px;
  margin-top: 20px;
}
.fotografos div {
  display: flex;
  margin-top: 10px;
}
.fotografos .caja_fotografos {
  flex-wrap: wrap;
  margin-left: 100px;
}
.fotografos .caja_fotografos .bloque_blanco {
  background-color: rgb(124, 95, 72);
  flex-wrap: wrap;
  width: 750px;
  height: 350px;
  margin: 5px 5px 5px 5px;
  padding: 10px 0px 0px 10px;
}
.fotografos .caja_fotografos .bloque_blanco img {
  width: 200px;
  height: 190px;
}
.fotografos .caja_fotografos .bloque_blanco p {
  font-size: larger;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 577px) {
  .home {
    width: auto;
    display: grid;
    grid-template-areas: "header" "carrousel" "shopind" "shopind" "footer";
  }
  .home header {
    grid-area: header;
  }
  .home main #carouselExampleIndicators {
    grid-area: carrousel;
    width: 100%;
    height: unset;
    margin: 0 0 10px 0;
  }
  .home main .shopind {
    grid-area: shopind;
    height: auto;
  }
  .home main .shopind .caja-contenedor {
    display: grid;
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(6, 460px);
    justify-content: center;
    margin-top: 10px;
    row-gap: 15px;
  }
  .home main .shopind .caja-contenedor .caja-producto {
    width: 400px;
    height: 460px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 5px 5px 8px rgba(88, 88, 88, 0.3);
    text-align: center;
  }
  .home main .shopind .caja-contenedor .caja-producto img {
    width: 400px;
  }
  .home main .shopind .caja-contenedor .caja-producto p {
    font-size: large;
    font-family: "Roboto", sans-serif;
  }
  .home main .shopind .caja-contenedor .caja-producto .redireccion_ind {
    margin: 0 10px 0 0;
  }
  body header {
    grid-area: header;
  }
  body .main_shop {
    height: auto;
  }
  body .main_shop .shop {
    grid-area: shop-fila;
  }
  body .main_shop .shop .caja-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, 270px);
    justify-content: center;
    row-gap: 50px;
    height: 900px;
    margin-top: 20px;
  }
  body .main_shop .shop .caja-contenedor .caja-producto {
    width: 200px;
    height: 270px;
  }
  body .main_shop .shop-fila {
    margin-top: 520px;
    grid-area: shop-fila;
  }
  body .main_shop .shop-fila .caja-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, 270px);
    justify-content: center;
    row-gap: 50px;
    height: 900px;
    margin-top: 20px;
  }
  body .main_shop .shop-fila .caja-contenedor .caja-producto {
    width: 200px;
    height: 270px;
  }
  footer {
    grid-area: footer;
  }
}

/*# sourceMappingURL=estilos.css.map */
