* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f17c1c78;
    h2 {
        font-family: map-get($fuentes, Secondary);
        font-weight: 400;
        text-align: center;
    }
}

