@media (min-width: 320px) and (max-width: 480px) {

    .home {
        width: auto;
        display: grid;
        grid-template-areas: 
        "header"
        "carrousel"
        "shopind"
        "shopind"
        "footer"
        ;
        header{
            grid-area: header;
            width: 100%;
        }
        main {
            width: 100%;
            #carouselExampleIndicators {
                grid-area: carrousel;
                width: 100%;
                height: unset;
                margin: 0 0 10px 0;
            }
            .shopind {
                grid-area: shopind;
                height: auto;
                .caja-contenedor {
                    display: grid;
                    grid-template-columns: repeat(1, auto);
                    grid-template-rows: repeat(6, 460px);   
                    justify-content: center;
                    margin-top: 10px;
                    row-gap: 15px;
                    .caja-producto {
                        width: 350px;
                        height: 420px;
                        margin-bottom: 20px;
                        background-color: white;
                        box-shadow: 5px 5px 8px rgba(88, 88, 88, 0.3);
                        text-align: center;
                        img {
                            width: 100%;
                        }
                        p {
                            font-size: large;
                            font-family: $fuente-general;
                        }
                        .redireccion_ind {
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }
        }
    }

    body {
        header{
            grid-area: header;
        }
        main {
            width: 100%;
            .imagenesDestacadas {
                .contenedor_img {
                height: auto;
                display: grid;
                grid-template-columns: repeat(1, 400px);
                grid-template-rows: repeat(13, 400px);
                grid-template-areas: 
                "img1"
                "img2"
                "img3"
                "img4"
                "img5"
                "img6"
                "img7"
                "img8"
                "img9"
                "img10"
                "img11"
                "img12"
                "img13";
                justify-content: center;
                margin-bottom: 10px;
                .img1 {
                    grid-area: img1;
                    img {
                        width: 400px;
                        height: 400px;
                    }
                }
                .img2 {
                    grid-area: img2;
                    img {
                        width: 400px;
                        height: 400px;
                    }
                }
                .img3 {
                    grid-area: img3;
                    img {
                        width: 400px;
                        height: 400px;
                    }
                }
                .img4 {
                    grid-area: img4;
                    img {
                        width: 400px;
                        height: 400px;
                    }
                }
                .img5 {
                    grid-area: img5;
                    img {
                        width: 400px;
                        height: 400px;
                    }
                }
                .img6 {
                    grid-area: img6;
                    img {
                        width: 400px;
                        height: 400px;
                    }
                }
                .img7 {
                    grid-area: img7;
                    img {
                        width: 400px;
                        height: 400px;
                    }
                }
                .img8 {
                    grid-area: img8;
                    img {
                        width: 400px;
                        height: 400px;
                    }
                }
                .img9 {
                    grid-area: img9;
                    img {
                        width: 400px;
                        height: 400px;
                    }
                }
                .img10 {
                    grid-area: img10;
                    img {
                        width: 400px;
                        height: 400px;
                    }
                }
                .img11 {
                    grid-area: img11;
                    img {
                        width: 400px;
                        height: 400px;
                    }
                }
                .img12 {
                    grid-area: img12;
                    img {
                        width: 400px;
                        height: 400px;
                    }
                }
                .img13 {
                    grid-area: img13;
                    img {
                        width: 400px;
                        height: 400px;
                    }
                }
                }
            }
        }
        .main_shop {
            height: auto;
            .shop {
                grid-area: shop-fila;
                .caja-contenedor {
                    display: grid;
                    grid-template-columns: repeat(2, 200px);
                    grid-template-rows: repeat(3, 270px);
                    justify-content: center;
                    row-gap: 50px;
                    height: 900px;
                    margin-top: 20px;
                    .caja-producto {
                        width: 200px;
                        height: 270px;
                    }
                }
            }
            .shop-fila {
                margin-top: 520px;
                grid-area: shop-fila;
                .caja-contenedor {
                    display: grid;
                    grid-template-columns: repeat(2, 200px);
                    grid-template-rows: repeat(3, 270px);
                    justify-content: center;
                    row-gap: 50px;
                    height: 900px;
                    margin-top: 20px;
                    .caja-producto {
                        width: 200px;
                        height: 270px;
                    }
                }
            }
        }
    }

    footer {
        grid-area: footer;
        width: 100%;
    }
}


