@media (min-width: 320px) and (max-width: 480px) {

    .home {
        width: auto;
        display: grid;
        grid-template-areas: 
        "header"
        "carrousel"
        "shopind"
        "shopind"
        "footer"
        ;
        header{
            grid-area: header;
            width: 100%;
        }
        main {
            width: 100%;
            #carouselExampleIndicators {
                grid-area: carrousel;
                width: 100%;
                height: unset;
                margin: 0 0 10px 0;
            }
            .shopind {
                grid-area: shopind;
                height: auto;
                .caja-contenedor {
                    display: grid;
                    grid-template-columns: repeat(1, auto);
                    grid-template-rows: repeat(6, 450px);   
                    justify-content: center;
                    margin-top: 10px;
                    row-gap: 15px;
                    .caja-producto {
                        width: 350px;
                        height: 420px;
                        margin-bottom: 20px;
                        background-color: white;
                        box-shadow: 5px 5px 8px rgba(88, 88, 88, 0.3);
                        text-align: center;
                        img {
                            width: 100%;
                        }
                        p {
                            font-size: large;
                            font-family: $fuente-general;
                        }
                        .redireccion_ind {
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }
        }
    }

    body {
        header{
            grid-area: header;
        }
        main {
            width: 100%;
            .fotografos {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 20px 70px;
                height: auto;
                .caja_fotografos {
                    .tarjeta {
                        display: flex;
                        flex-direction: column;
                        background-color: rgb(124, 95, 72);
                        width: 310px;
                        height: 500px;  
                        margin: 15px 0px 5px 0px;
                        padding: 10px 10px 0px 10px;
                        h3 {
                            font-family: map-get($fuentes, Secondary);
                            font-size: large;
                            text-align: center;
                        }
                        div {
                            flex-direction: column;
                            align-items: center;
                            img {
                                width: 200px;
                                height: 180px;
                                padding: 5px;
                            }
                            p {
                                font-size: small;
                                font-family: map-get($fuentes, Secondary);
                                padding: 5px 10px 0px 10px;
                            }
                        }
                        .botones {
                            flex-direction: column;
                            justify-content: center;
                            align-content: center;
                            margin-top: 0px;
                            a {
                                background-color: #945610;
                                width: 280px;
                                margin: 5px 0px 0px 5px;
                                padding: 2px 10px;
                                border-radius: 5px;
                                color: rgb(0, 0, 0);
                                text-decoration: none;
                                text-align: center;
                                font-family: map-get($fuentes, Primary);
                                font-size: large;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .imagenesDestacadas {
                .contenedor_img {
                height: auto;
                display: grid;
                grid-template-columns: repeat(1, 100%);
                grid-template-rows: repeat(13, 350px);
                grid-template-areas: 
                "img3"
                "img2"
                "img9"
                "img4"
                "img5"
                "img6"
                "img7"
                "img8"
                "img1"
                "img10"
                "img11"
                "img12"
                "img13";
                justify-content: center;
                margin-bottom: 10px;
                .img1 {
                    grid-area: img1;
                    img {
                        width: 100%;
                        height: 350px;
                    }
                }
                .img2 {
                    grid-area: img2;
                    img {
                        width: 100%;
                        height: 350px;
                    }
                }
                .img3 {
                    grid-area: img3;
                    img {
                        width: 100%;
                        height: 350px;
                    }
                }
                .img4 {
                    grid-area: img4;
                    img {
                        width: 100%;
                        height: 350px;
                    }
                }
                .img5 {
                    grid-area: img5;
                    img {
                        width: 100%;
                        height: 350px;
                    }
                }
                .img6 {
                    grid-area: img6;
                    img {
                        width: 100%;
                        height: 350px;
                    }
                }
                .img7 {
                    grid-area: img7;
                    img {
                        width: 100%;
                        height: 350px;
                    }
                }
                .img8 {
                    grid-area: img8;
                    img {
                        width: 100%;
                        height: 350px;
                    }
                }
                .img9 {
                    grid-area: img9;
                    img {
                        width: 100%;
                        height: 350px;
                    }
                }
                .img10 {
                    grid-area: img10;
                    img {
                        width: 100%;
                        height: 350px;
                    }
                }
                .img11 {
                    grid-area: img11;
                    img {
                        width: 100%;
                        height: 350px;
                    }
                }
                .img12 {
                    grid-area: img12;
                    img {
                        width: 100%;
                        height: 350px;
                    }
                }
                .img13 {
                    grid-area: img13;
                    img {
                        width: 100%;
                        height: 350px;
                    }
                }
                }
            }
        }
        .main_shop {
            height: auto;
            margin-bottom: 40px;
            .shop {
                grid-area: shop-fila;
                .caja-contenedor {
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    grid-template-rows: repeat(3, 270px);
                    justify-content: center;
                    row-gap: 50px;
                    height: auto;
                    margin-top: 20px;
                    column-gap: 10px;
                    .caja-producto {
                        width: 170px;
                        height: 280px;
                        img {
                            width: 100%;
                        }
                        p {
                            font-size: large;
                            font-family: $fuente-general;
                        }
                        .redireccion_ind {
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }
            .shop-fila {
                grid-area: shop-fila;
                .caja-contenedor {
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    grid-template-rows: repeat(3, 270px);
                    justify-content: center;
                    row-gap: 50px;
                    height: auto;
                    margin-top: 20px;
                    column-gap: 10px;
                    .caja-producto {
                        width: 170px;
                        height: 280px;
                        img {
                            width: 100%;
                        }
                        p {
                            font-size: large;
                            font-family: $fuente-general;
                        }
                        .redireccion_ind {
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }
        }
    }

    footer {
        grid-area: footer;
        width: 100%;
    }
}


