.blog {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
    height: unset;
    align-items: center;
    .caja-informacion {
        background-color: beige;
        width: 1000px;
        height: 350px;
        margin: 30px 0px 0px 0px;
        h3 {
            font-size: 3.5ch;
            font-family: map-get($fuentes, Secondary);
            padding: 10px 10px 0px 10px;    
        }
        p {
            font-size: x-large;
            font-family: map-get($fuentes, Tertiary);
            padding: 10px 10px 0px 10px;
        }
    }
}
