.fotografos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 70px;
    height: auto;
    .caja_fotografos {
        .tarjeta {
            display: flex;
            flex-direction: column;
            background-color: rgb(124, 95, 72);
            width: 750px;
            height: 300px;  
            margin: 15px 0px 5px 0px;
            padding: 10px 10px 0px 10px;
            h3 {
                font-family: map-get($fuentes, Secondary);
                font-size: large;
            }
            div {
                display: flex;
                img {
                    width: 180px;
                    height: 180px;
                    padding: 5px;
                }
                p {
                    font-size: medium;
                    font-family: map-get($fuentes, Secondary);
                }
            }
            .botones {
                justify-content: center;
                align-content: center;
                margin-top: 10px;
                a {
                    background-color: #945610;
                    width: 200px;
                    margin: 5px 0px 0px 5px;
                    padding: 5px;
                    border-radius: 5px;
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                    text-align: center;
                    font-family: map-get($fuentes, Primary);
                    font-size: large;
                    font-weight: bold;
                }
            }
        }
    }   
}