.fotografos {
    margin-left: 70px;
    margin-right: 70px;
    height: 850px;
    margin-top: 20px;
    .caja_fotografos {
        display: flex;
        margin-top: 10px;
        flex-wrap: wrap;
        margin-left: 100px;
        .bloque_blanco {
            background-color: rgb(124, 95, 72);
            flex-direction: column;
            width: 750px;
            height: 350px;  
            margin: 5px 5px 5px 5px;
            padding: 10px 0px 0px 10px;
            img {
                width: 160px;
                height: 180px;
            }
            h3 {
                font-family: map-get($fuentes, Secondary);
            }
            p {
                font-size: medium;
                font-family: $fuente-general;
            }
        }
    }   
}