main {
    .imagenesDestacadas {
        h2{
            padding: 20px 0;
        }
        .contenedor_img {
            display: grid;
            grid-template-columns: repeat(4, 290px);
            grid-template-rows: repeat(6, 290px);
            grid-template-areas: 
            "img1 img1 img3 img3"
            "img9 img7 img3 img3"
            "img13 img2 img2 img12"
            "img4 img2 img2 img12"
            "img11 img6 img6 img10"
            "img8 img8 img5 img5";
            column-gap: 5px;
            row-gap: 5px;
            justify-content: center;
            margin-left: 10%;
            margin-right: 10%;
            .img1 {
                grid-area: img1;
                img {
                    width: 585px;
                    height: 290px;
                }
            }
            .img2 {
                grid-area: img2;
                img {
                    width: 585px;
                    height: 585px;
                }
            }
            .img3 {
                grid-area: img3;
                img {
                    width: 585px;
                    height: 585px;
                }
            }
            .img4 {
                grid-area: img4;
                img {
                    width: 290px;
                    height: 290px;
                }
            }
            .img5 {
                grid-area: img5;
                img {
                    width: 585px;
                    height: 290px;
                }
            }
            .img6 {
                grid-area: img6;
                img {
                    width: 585px;
                    height: 290px;
                }
            }
            .img7 {
                grid-area: img7;
                img {
                    width: 290px;
                    height: 290px;
                }
            }
            .img8 {
                grid-area: img8;
                img {
                    width: 585px;
                    height: 290px;
                }
            }
            .img9 {
                grid-area: img9;
                img {
                    width: 290px;
                    height: 290px;
                }
            }
            .img10 {
                grid-area: img10;
                img {
                    width: 290px;
                    height: 290px;
                }
            }
            .img11 {
                grid-area: img11;
                img {
                    width: 290px;
                    height: 290px;
                }
            }
            .img12 {
                grid-area: img12;
                img {
                    width: 290px;
                    height: 585px;
                }
            }
            .img13 {
                grid-area: img13;
                img {
                    width: 290px;
                    height: 290px;
                }
            }
        }
    }
}