.main_shop {
    .caja-contenedor {
        display: grid;
        grid-template-columns: repeat(6, 200px);
        grid-template-rows: repeat(1, 350px);
        column-gap: 25px;
        justify-content: center;
        margin-top: 10px;
    }
    .caja-producto {
        width: 200px;
        height: 350px;
        margin-bottom: 20px;
        background-color: white;
        box-shadow: 5px 5px 8px rgba(88, 88, 88, 0.3);
        img {
            width: 200px;
            height: unset;
        }
        p {
            margin: 10px 20px 10px 20px;
            font-family: $fuente-general;
        }
    }
        
    .shop {
        margin: 40px 70px 0px 70px;
        height: 450px;
    }
    .shop-fila {
        margin: 0px 70px 20px 70px;
    }
    
    .redireccion {
        margin-left: 10%;
        font-family: $fuente-general;
        text-decoration: none;
    }
}