.main_shop {
    margin-bottom: 20px;
    .caja-contenedor {
        @include caja-contenedor (grid, repeat(6, 200px), repeat(1, 350px), 25px, center, 10px)
    }
    .caja-producto {
        @include caja-producto (200px, 350px, 20px, white);
        box-shadow: 5px 5px 8px rgba(88, 88, 88, 0.3);
        img {
            width: 200px;
            height: unset;
        }
        p {
            margin: 10px 20px 10px 20px;
            font-family: map-get($fuentes, Secondary);
            font-weight: 300;
        }
        .redireccion {
            margin-left: 10%;
            font-family: map-get($fuentes, Secondary);
            text-decoration: none;
            color: rgb(27, 106, 255);
        }
    }
        
    .shop {
        margin-top: 20px;
    }
    .shop-fila {
        margin-top: 20px;
    }
    
    
}